@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron jumbotron-fluid" style="background-image: url(https://d2w1ef2ao9g8r9.cloudfront.net/images/_1600x1066_crop_center-center_82_line/Restaurant-equipment.jpg?mtime=20200527162459&focal=none&tmtime=20210624224643); background-repeat: no-repeat; background-attachment: fixed; color: white !important; height: 340px; ">
    <div class="container">
        <h1 class="display-2">Revisa nuestra gran variedad de productos</h1>
        <p class="lead">Los mejores precios</p>
        <input class="btn btn-primary" type="button" value="Ir a la tienda" onclick="location.href='@Url.Action("productos", "Catalogo")'" />
    </div>
</div>

<div class="container">
    <div class="row" style="padding-right: 25px;">
        <div class="col-xs-4">
            <div>
                <div class="panel panel-default" style="text-align: center; padding: 10px;">
                    <div class="panel-body">
                        <h2>¡Revisa nuestros 2X1!</h2>
                        <img class="img-responsive" src="~/Content/img/Panel1.png" />
                        <h3>
                            Como en las heladerías, todos los jueves tenemos al 2x1 todos los vasos de helado
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div>
                <div class="panel panel-default" style="text-align: center; padding: 10px;">
                    <div class="panel-body">
                        <h2>¡Al mayoreo!</h2>
                        <img class="img-responsive" src="~/Content/img/Panel2.png" />
                        <h3>
                            Contamos con precios de mayoreo y diferentes ofertas según tu volumen de compra
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-4">
            <div>
                <div class="panel panel-default" style="text-align: center; padding: 10px;">
                    <div class="panel-body">
                        <h2>¡Oferta del mes!</h2>
                        <img class="img-responsive" src="~/Content/img/Panel3.png" />
                        <h3>
                            Todo este mes de noviembre, todos nuestros cuchillos tienen un 15% de descuento
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

