@model VistasAct3.Models.Subcategorias

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutCompras.cshtml";
}

<h2>Detalles</h2>
<style>
    .btn-primary > a {
        text-decoration: none;
        color: white;
    }
</style>

<div>
    <div class="panel panel-info">
        <div class="panel-heading"><h4 style="font-weight:bold">Detalles de subcategoría</h4></div>
        <div class="panel-body">
            <table class="table table-striped table-hover table-bordered">
                <tr>
                    <th>
                        Nombre
                    </th>
                    <th>
                        Descripción
                    </th>
                    <th>
                        Imagen
                    </th>
                    <th>
                        Estatus
                    </th>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayFor(model => model.nombre)
                    </th>
                    <th>
                        @Html.DisplayFor(model => model.descripcion)
                    </th>
                    <th>
                        <img src="~/Content/img/@Html.DisplayFor(model => model.imagen)" alt="Imagen aqui" width="80" />

                    </th>
                    <th>
                        @Html.DisplayFor(model => model.estatus)
                    </th>
                </tr>
            </table>

        </div>
    </div>
</div>

<div class="row">
    <button class="btn btn-danger col-md-2 "><span class="glyphicon glyphicon-list-alt"></span> <a href="/Subcategorias" style="text-decoration: none; color:white"> Regresar a la lista</a> </button>
    <button class="btn btn-primary col-md-2 col-md-offset-1"><span class="glyphicon glyphicon-edit"></span> @Html.ActionLink("Editar", "Edit", new { id = Model.Id_subcategoria })</button>
</div>

